   
.seo-title {
        font-size: 1.6em;
}

   /*********** Seo Home *****************/
   /************** Section 1 - Block one - HOME ****************/
.seo__home {
    padding: $padding-main-content;
    margin-top: 3em;

    &--bg-image {
        //background-color: var(--color-texto);
        background-image: linear-gradient(141deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    }

    &--bg-image {
        width: 75%;margin: 0 auto;
    }

    &--txt {
        font-size: var(--h2-font-size);
        color: rgba($color-texto, .915);
    }

    &--title {
        font-size: var(--h2-font-size);
    }

    &--sub-title {
        margin-top: 4em;
        width: 85vmin;
    }

}

.seo__home--link-in {
    color: var(--color-terciario); 
    transition: color .3s;

    &:hover {
        color: var(--color-terciario-alt-2);
    }
}

.seo__definition {

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    column-gap: 1em;

    @include rwd(800px) {
        & {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(12, 1fr);
        }
      }


    [class^="seo__definition--blk"] {
        //background-color: rgba($color-enfasis-alt-2, .7);
        background-image: linear-gradient(141deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
        border-radius: 5px;
        padding: $padding-main-content;
        margin-bottom: 1em;

        grid-column: span 4;
        grid-row: span 4;

        @include rwd(xlarge) {
            & {
              grid-column: .9 / span 3;
            }
          }
    }

    &--items {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit;
        padding: inherit;
        background-color: var(--color-body-bg);

        @include rwd(800px) {
            & {
                align-items: flex-start;
            }
          }
    }

} /* End seo__definition */








 