/* Main logo */
.img-logo-content {
    display: flex; 
    align-items: center;
    min-height: 100%;
    display: flex;
    align-items: center;
    line-height: 3rem;
    height: 6rem;
    width: 200px;
}

.img-logo {
    display: block;
}