/************** Section 4 -  Block fouth - HOME ****************/
.seo__home--info-2{
    padding: $padding-main-content;
    color: var(--color-border);
    //background-image: linear-gradient(141deg,#19e098 75%, #86f5cc 51%, #9fb8ad 0%);
    background-color: rgba($color-oscuro-alt, 1);

    &--title {
        
    }

    &--item {
        margin-bottom: 1em;
    }

    &--action {
        color: var(--color-oscuro-alt);
        background-color: var(--color-body-bg);
        padding: .5em 1em;
    }


    &--btn {
        width: 200px;
    }
}
