/* ********************** HEADER ********************* */
.main-header{
    position: relative;
    height: $header-height;
    background: var(--color-secundario-alt);
    color: var(--color-body-bg);
    border-bottom: 1px solid $border-color;  
}

