
[class*=icon-] {
    margin-bottom: .7em;
}

[class*=icon-]::before {
    content: " ";
    display: inline-block;
    margin-right: .15rem;
    width: 1em;
    height: 1em;
}

/*
.icon-location::before {
    //background: url("../img/Diseño-web.jpg");
    background-color: #ffffff;
    
}
*/

.icon-check {
    position: relative;
    margin-left: 2em;

    &::before {
        content:"\2713";
        position: absolute;
        left: -1.5em;
        color: green;
        font-weight: bold;
        line-height: 1.4em;
        /*background-image: url("../img/check-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;*/
    }
}

