[class*=icon-]::before {
    content: " ";
    display: inline-block;
    margin-right: .15rem;
    width: 1em;
    height: 1em;
}

/*
.icon-location::before {
    //background: url("../img/Diseño-web.jpg");
    background-color: #ffffff;
    
}
*/

.icon-check::before {
    background-image: url("../img/check-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}