/* Estilos del THEME */
.small {
    font-size: var(--small-font-size);
}

.medium {
    font-size: var(--medium-font-size);
}

.large {
    font-size: var(--large-font-size);
}

.default-color {
    color: var(--color-texto);
}

.m-top {
    margin-top: 1em;
}

.m-b{
    margin-bottom: 1em;
}

.m-top-sect {
    margin-top: 2.5rem;
}

