/* Estilos del THEME */
.small {
    font-size: var(--small-font-size);
}

.medium {
    font-size: var(--medium-font-size);
}

.large {
    font-size: var(--large-font-size);
}

.default-color {
    color: var(--color-texto);
}

.m-top {
    margin-top: 1em;
}

.m-top-sect {
    margin-top: 2.5rem;
}

.buttom-1 {
        margin-top: .5em;
        padding: .5rem 1rem;
        text-decoration: none;
        border: 1px solid var(--color-oscuro);
        border-radius: $borderRadius;
        background-color: var(--color-enfasis-alt-secondary);
        //margin-top: .5em;
        transition: background-color .2s;
}

.buttom-1:hover {
    background-color: var(--color-enfasis-alt);
}

.border__bottom{
    display: block;
    width: 50%;
    border-bottom: 2px solid var(--color-enfasis-alt-2);
}
