@charset "UTF-8";
/*@mixin from($l) {
    @media screen and (min-width: map-get($l)) {
        @content;
    }
}*/
/* VARIABLES CSS */
/* Variables SCSS */
:root {
  --scrollBar: 13px; }

:root {
  /* Paleta de colores SCSS */
  --color-principal: #FFB80C;
  --color-principal-alt: #F2A30C;
  --color-secundario: #FFE23F;
  --color-secundario-alt: #C6B031;
  --color-terciario: #f06850;
  --color-terciario-alt-1: #E5362D;
  --color-terciario-alt-2: #DB1F15;
  --color-terciario-2: #2cb5e8;
  --color-enfasis: #ff8000;
  --color-enfasis-alt: #E07200;
  --color-enfasis-alt-secondary: #ff6811;
  --color-enfasis: #86f5cc;
  --color-enfasis-alt-2: #19e098;
  --color-enfasis-alt-3: #19CC98;
  --color-oscuro: rgb(41, 25, 14);
  --color-oscuro-alt: #191C1F;
  --color-border: #DFE0BF;
  --color-texto: #382215;
  --color-body-bg: #F1F5CA; }

/* Paleta colores CSS */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tootip:10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --heading-font: 'Lato', sans-serif;
  --body-font: 'Lato', sans-serif; }

:root {
  --body-font-size: 1rem;
  --small-font-size: .75rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.1rem; }
  @media screen and (min-width: 640px) {
    :root {
      --h1-font-size: 2.5rem;
      --h2-font-size: 2.1rem;
      --h3-font-size: 1.7rem;
      --body-font-size: 1rem;
      --small-font-size: .8rem; } }
  @media screen and (min-width: 1024px) {
    :root {
      --h1-font-size: 2.7rem;
      --h2-font-size: 2.3rem;
      --h3-font-size: 2rem;
      --body-font-size: 1.2rem;
      --small-font-size: .9rem; } }

/* Estilos base generales */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
.body-font {
  margin: 0;
  color: var(--color-texto);
  background: var(--color-body-bg);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  /*display: flex;
    flex-direction: column;
    min-height: 100vh;*/ }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  letter-spacing: .8px; }

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-font-size); }

h2 {
  font-family: var(--heading-font);
  font-size: var(--h2-font-size); }

h3 {
  font-family: var(--heading-font);
  font-size: var(--h4-font-size); }

h4 {
  font-family: var(--heading-font);
  font-size: var(--h4-font-size); }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: var(--color-texto);
  display: inline-block;
  font-size: 1.2em; }

img {
  max-width: 100%;
  height: auto; }

.l-container {
  max-width: 90%;
  display: -ms-grid;
  display: grid;
  grid-gap: .5rem 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.s-5 {
  width: 5%; }

.s-10 {
  width: 10%; }

.s-15 {
  width: 15%; }

.s-20 {
  width: 20%; }

.s-25 {
  width: 25%; }

.s-30 {
  width: 30%; }

.s-35 {
  width: 35%; }

.s-40 {
  width: 40%; }

.s-45 {
  width: 45%; }

.s-50 {
  width: 50%; }

.s-55 {
  width: 55%; }

.s-60 {
  width: 60%; }

.s-65 {
  width: 65%; }

.s-70 {
  width: 70%; }

.s-75 {
  width: 75%; }

.s-80 {
  width: 80%; }

.s-85 {
  width: 85%; }

.s-90 {
  width: 90%; }

.s-95 {
  width: 95%; }

.s-100 {
  width: 100%; }

@media screen and (min-width: 1024px) {
  .l-5 {
    width: 5%; }
  .l-10 {
    width: 10%; }
  .l-15 {
    width: 15%; }
  .l-20 {
    width: 20%; }
  .l-25 {
    width: 25%; }
  .l-30 {
    width: 30%; }
  .l-35 {
    width: 35%; }
  .l-40 {
    width: 40%; }
  .l-45 {
    width: 45%; }
  .l-50 {
    width: 50%; }
  .l-55 {
    width: 55%; }
  .l-60 {
    width: 60%; }
  .l-65 {
    width: 65%; }
  .l-70 {
    width: 70%; }
  .l-75 {
    width: 75%; }
  .l-80 {
    width: 80%; }
  .l-85 {
    width: 85%; }
  .l-90 {
    width: 90%; }
  .l-95 {
    width: 95%; }
  .l-100 {
    width: 100%; } }

.l-section {
  margin-bottom: 2rem; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.center-content {
  text-align: center; }

.left-content {
  text-align: left; }

:root {
  --width: 50%; }

.middle-width {
  width: var(--width); }

.max-width {
  --width: 100%;
  width: var(--width); }

/* Estilos del THEME */
.small {
  font-size: var(--small-font-size); }

.medium {
  font-size: var(--medium-font-size); }

.large {
  font-size: var(--large-font-size); }

.default-color {
  color: var(--color-texto); }

.m-top {
  margin-top: 1em; }

.m-b {
  margin-bottom: 1em; }

.m-top-sect {
  margin-top: 2.5rem; }

.items-color {
  border: 1px solid var(--color-border);
  padding: 1rem; }

.item-color {
  width: 250px;
  height: 40%;
  margin-bottom: .5rem;
  border: 1px solid var(--color-border); }

.items-color p, h2 {
  padding-left: .5rem; }

.items-container {
  min-height: 100vh;
  padding-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-gap: 1rem; }

.items-color-container .color-item-principal {
  background: #FFB80C; }

.items-color-container .color-item-principal-alt {
  background: #F2A30C; }

.items-color-container .color-item-secundario {
  background: #FFE23F; }

.items-color-container .color-item-secundario-alt {
  background: #C6B031; }

.items-color-container .color-item-terciario {
  background: #f06850; }

.items-color-container .color-item-terciario-alt-1 {
  background: #E5362D; }

.items-color-container .color-item-terciario-alt-2 {
  background: #DB1F15; }

.items-color-container .color-item-enfasis {
  background: #ff8000; }

.items-color-container .color-item-enfasis-alt {
  background: #E07200; }

.items-color-container .color-item-enfasis-2 {
  background: #86f5cc; }

.items-color-container .color-item-enfasis-alt-2 {
  background: #19e098; }

.items-color-container .color-item-oscuro {
  background: #331F11; }

.items-color-container .color-item-oscuro-alt {
  background: #191C1F; }

.items-color-container .color-item-border {
  background: #DFE0BF; }

.items-color-container .color-item-texto {
  background: #382215; }

.items-color-container .color-item-body-bg {
  background: #F1F5CA; }

/* ********************** HEADER ********************* */
.main-header {
  position: relative;
  height: 7rem;
  background-image: -webkit-linear-gradient(309deg, #19e098, #86f5cc 79%, #19e098 55%);
  background-image: -o-linear-gradient(309deg, #19e098, #86f5cc 79%, #19e098 55%);
  background-image: linear-gradient(141deg, #19e098, #86f5cc 79%, #19e098 55%);
  color: var(--color-body-bg);
  border-bottom: 1px solid var(--color-border); }

@media screen and (min-width: 1024px) {
  .main-header__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-header__section .img-logo-content {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .main-header__section .main-navbar {
    -ms-grid-column-span: 9;
    grid-column: span 9; } }

@media screen and (min-width: 1440px) {
  .main-header__section .main-navbar {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / span 8; } }

.main__container {
  -ms-grid-rows: .5fr 1fr .5fr;
  grid-template-rows: .5fr 1fr .5fr;
  min-height: 100vh; }

/* Main logo */
.img-logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  display: flex;
  align-items: center;
  line-height: 3rem;
  height: 6rem;
  width: 200px; }

.img-logo {
  display: block; }

/* ************ Navbar-toogle *************** */
.navbar-toggle {
  content: "";
  display: block;
  width: 2.3rem;
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 35%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #331F11), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #331F11), color-stop(60%, #331F11), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #331F11));
  background: -webkit-linear-gradient(#331F11 20%, transparent 20%, transparent 40%, #331F11 40%, #331F11 60%, transparent 60%, transparent 80%, #331F11 80%);
  background: -o-linear-gradient(#331F11 20%, transparent 20%, transparent 40%, #331F11 40%, #331F11 60%, transparent 60%, transparent 80%, #331F11 80%);
  background: linear-gradient(#331F11 20%, transparent 20%, transparent 40%, #331F11 40%, #331F11 60%, transparent 60%, transparent 80%, #331F11 80%); }
  @media screen and (min-width: 1024px) {
    .navbar-toggle {
      display: none; } }

/* Navbar toogle end */
/* ************ Main navbar menu ************ */
.main-navbar {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: var(--z-modal);
  top: 7rem;
  left: 0;
  min-width: 50vw;
  background-color: #19e098;
  min-height: 100vh;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  /* ************ Navbar menu items ************ */
  /* ************ Navbar menu items end************ */ }
  @media screen and (min-width: 1024px) {
    .main-navbar {
      position: relative;
      top: 0;
      -webkit-transition: -webkit-transform 0s;
      transition: -webkit-transform 0s;
      -o-transition: transform 0s;
      transition: transform 0s;
      transition: transform 0s, -webkit-transform 0s;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      min-width: 100%;
      min-height: auto;
      background-color: inherit; }
    .main-navbar .navbar--menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .main-navbar.translate {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .main-navbar [class^="navbar__item"] {
    margin: 0;
    color: rgba(56, 34, 21, 0.7); }
    .main-navbar [class^="navbar__item"].last-child {
      border-bottom: 0px solid var(--color-border);
      padding-bottom: 0; }
    .main-navbar [class^="navbar__item"] .servicios::after {
      content: ">";
      color: var(--color-border);
      margin-left: 1em; }
    .main-navbar [class^="navbar__item"] .navbar__link,
    .main-navbar [class^="navbar__item"] .navbar__link--child {
      font-size: 1.2em;
      border-bottom: 1px solid var(--color-border);
      line-height: 2;
      display: block;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      width: 65vw;
      padding: .5em 1em;
      -webkit-transition: background-color .7s;
      -o-transition: background-color .7s;
      transition: background-color .7s; }
      .main-navbar [class^="navbar__item"] .navbar__link:hover,
      .main-navbar [class^="navbar__item"] .navbar__link--child:hover {
        background-color: rgba(134, 245, 204, 0.5); }
      @media screen and (min-width: 1024px) {
        .main-navbar [class^="navbar__item"] .navbar__link,
        .main-navbar [class^="navbar__item"] .navbar__link--child {
          font-size: 1em;
          width: 100%;
          border-bottom: 0px solid var(--color-border); } }
      @media screen and (min-width: 1200px) {
        .main-navbar [class^="navbar__item"] .navbar__link,
        .main-navbar [class^="navbar__item"] .navbar__link--child {
          font-size: 1.15em; } }
      @media screen and (min-width: 1440px) {
        .main-navbar [class^="navbar__item"] .navbar__link,
        .main-navbar [class^="navbar__item"] .navbar__link--child {
          font-size: 1.25em; } }
    .main-navbar [class^="navbar__item"] .navbar--child {
      margin: 0;
      position: absolute;
      -webkit-transition: position .5s transform .5s;
      -o-transition: position .5s transform .5s;
      transition: position .5s transform .5s;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      transform: scale(1, 0); }
      .main-navbar [class^="navbar__item"] .navbar--child.dropdown__navbar--child {
        -webkit-transition: position .5s, -webkit-transform .5s;
        transition: position .5s, -webkit-transform .5s;
        -o-transition: position .5s, transform .5s;
        transition: position .5s, transform .5s;
        transition: position .5s, transform .5s, -webkit-transform .5s;
        -webkit-animation: submenu .5s forwards;
        animation: submenu .5s forwards; }

@-webkit-keyframes submenu {
  to {
    position: relative;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes submenu {
  to {
    position: relative;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

/* ************ Main Navbar menu ************ */
.footer--container {
  background-color: var(--color-oscuro-alt);
  color: var(--color-secundario-alt);
  padding: 1em; }

/* ************ FOOTER BEFORE ************* */
.footer__before {
  border-bottom: 1px solid var(--color-border);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr); }
  @media screen and (min-width: 800px) {
    .footer__before {
      -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1em; } }
  @media screen and (min-width: 1200px) {
    .footer__before {
      -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      row-gap: 1em; } }

.footer__info {
  border-left: 1px solid var(--color-border);
  margin-bottom: 2em; }

.footer__info--tittle {
  margin: .5em .5em 0 .5em; }

.footer__info--txt,
.footer__info--list,
.footer__info--link {
  margin-top: .5em;
  margin-left: 1em;
  font-size: var(--body-font-size);
  color: var(--color-border); }

.footer__info--link {
  margin-left: 0;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }
  .footer__info--link:hover {
    color: rgba(223, 224, 191, 0.7); }

/* ************ FOOTER BEFORE END************* */
/* ************ FOOTER AFTER ************* */
.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* ************ FOOTER AFTER END ************* */
/***********  
   ***** Banner slider home ********
************/
.main_banner {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* 
    ************ Media queries de slider main banner home ***********
  */
  /* 
    ************ End media queries de slider main banner home ***********
  */ }
  .main_banner .main_banner__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    background: -webkit-linear-gradient(309deg, rgba(25, 28, 31, 0.9) 0%, rgba(25, 28, 31, 0.9) 51%, rgba(25, 28, 31, 0.9) 75%);
    background: -o-linear-gradient(309deg, rgba(25, 28, 31, 0.9) 0%, rgba(25, 28, 31, 0.9) 51%, rgba(25, 28, 31, 0.9) 75%);
    background: linear-gradient(141deg, rgba(25, 28, 31, 0.9) 0%, rgba(25, 28, 31, 0.9) 51%, rgba(25, 28, 31, 0.9) 75%);
    color: var(--color-body-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main_banner .main_banner__slider [class^="slider-"] {
      position: absolute;
      width: 100%;
      left: 0;
      top: 1em;
      bottom: 1em;
      padding: 0 1em;
      overflow: hidden;
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      -webkit-transition: opacity .5s linear , -webkit-transform .5s ease-in-out;
      transition: opacity .5s linear , -webkit-transform .5s ease-in-out;
      -o-transition: transform .5s ease-in-out , opacity .5s linear;
      transition: transform .5s ease-in-out , opacity .5s linear;
      transition: transform .5s ease-in-out , opacity .5s linear , -webkit-transform .5s ease-in-out;
      background-position: center center;
      background-size: cover; }
      .main_banner .main_banner__slider [class^="slider-"].active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
        .main_banner .main_banner__slider [class^="slider-"].active .main_banner__slider--content-description {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
    .main_banner .main_banner__slider--bg-slider-content {
      height: 100%;
      background: rgba(134, 245, 204, 0.4);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .main_banner .main_banner__slider--content {
      height: 100%;
      display: -ms-grid;
      display: grid;
      grid-column-gap: .5em;
      grid-row-gap: .5em;
      -ms-grid-rows: .9fr .1fr;
      grid-template-rows: .9fr .1fr;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      text-align: center; }
      @media screen and (min-width: 900px) {
        .main_banner .main_banner__slider--content {
          -ms-grid-columns: (1fr)[12];
          grid-template-columns: repeat(12, 1fr);
          -ms-grid-rows: 1fr;
          grid-template-rows: 1fr; } }
    .main_banner .main_banner__slider--content-description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: -webkit-transform .8s linear;
      transition: -webkit-transform .8s linear;
      -o-transition: transform .8s linear;
      transition: transform .8s linear;
      transition: transform .8s linear, -webkit-transform .8s linear;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
      @media screen and (min-width: 900px) {
        .main_banner .main_banner__slider--content-description {
          -ms-grid-column: 1;
          -ms-grid-column-span: 7;
          grid-column: 1 / span 7; } }
    .main_banner .main_banner__slider--sub-title {
      text-align: left;
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-left: 1em; }
    .main_banner .main_banner__slider--image-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: .5em; }
      @media screen and (min-width: 900px) {
        .main_banner .main_banner__slider--image-content {
          -ms-grid-column: 8;
          -ms-grid-column-span: 5;
          grid-column: 8 / span 5; } }
    .main_banner .main_banner__slider--image {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
      @media screen and (min-width: 500px) {
        .main_banner .main_banner__slider--image {
          width: 70%; } }
      @media screen and (min-width: 700px) {
        .main_banner .main_banner__slider--image {
          width: 65%; } }
      @media screen and (min-width: 900px) {
        .main_banner .main_banner__slider--image {
          width: 90%; } }
    .main_banner .main_banner__slider--slider-btns {
      position: absolute;
      top: 50%;
      width: 100%;
      padding: 20px;
      z-index: var(z-modal);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main_banner .main_banner__slider--slider-btns .slider-btn {
        width: 30px;
        height: 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 24.5px;
        color: var(--color-body-bg);
        text-align: center;
        background-color: none;
        border-radius: 50%;
        border: 1px solid var(--color-body-bg);
        cursor: pointer;
        -webkit-transition: background-color .2s  linear, color .2s ease-out;
        -o-transition: background-color .2s  linear, color .2s ease-out;
        transition: background-color .2s  linear, color .2s ease-out; }
        .main_banner .main_banner__slider--slider-btns .slider-btn:hover {
          background-color: var(--color-secundario);
          color: #191C1F; }

/* End main_banner */
/*
.main_banner {
    //position: absolute;
   width: 100%;
}

.main_banner__slider {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    
    

    [class^="slider-"] {
        position: absolute;
        width: 100%;
        height: 100%;
      }
*/
/*&--brand {
          display: inline-block;
          padding-bottom: .3em;
      }*/
/*
      &--content { // para que el contenido por cascada este encima del hero-image
        position: relative;
        padding: 1rem;
        text-align: center;
        background: rgba($color-enfasis-2, .4);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &--hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        //opacity: .2;
    }

}

*/
/**************
      ******* Animation Slider ********** 
    *****************************************/
.slider-1 {
  -webkit-animation: slider-1 0s infinite;
  animation: slider-1 0s infinite; }

@-webkit-keyframes slider-1 {
  0%, 20%, 99% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  24% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  25%, 95% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

@keyframes slider-1 {
  0%, 20%, 99% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  24% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  25%, 95% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

.slider-2 {
  -webkit-animation: slider-2 0s infinite;
  animation: slider-2 0s infinite; }

@-webkit-keyframes slider-2 {
  0%, 45%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  49% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  50%, 96% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

@keyframes slider-2 {
  0%, 45%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  49% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  50%, 96% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

.slider-3 {
  -webkit-animation: slider-3 0s infinite;
  animation: slider-3 0s infinite; }

@-webkit-keyframes slider-3 {
  0%, 70% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  74% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  75%, 100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

@keyframes slider-3 {
  0%, 70% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  74% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  75%, 100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

/**************
      ******* Animation Slider ********** 
    *****************************************/
/***********  
   ***** Banner slider home end ********
************/
.seo--image {
  display: block;
  margin: 0 auto; }

.seo-title {
  font-size: 1.6em; }

/*********** Seo Home *****************/
/************** Section 1 - Block one - HOME ****************/
.seo__home {
  padding: 1rem;
  margin-top: 3em; }
  .seo__home--bg-image {
    background-image: -webkit-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    background-image: -o-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    background-image: linear-gradient(141deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%); }
  .seo__home--bg-image {
    width: 75%;
    margin: 0 auto; }
  .seo__home--title {
    font-size: var(--h2-font-size); }
  .seo__home--sub-title {
    margin-top: 4em;
    width: 85vmin; }

.color-home-title-1 {
  color: var(--color-enfasis-alt-2);
  font-size: 1.2em; }

.color-home-title-2 {
  color: var(--color-terciario-2);
  font-size: 1.2em; }

.seo__home--link-in {
  color: var(--color-terciario);
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }
  .seo__home--link-in:hover {
    color: var(--color-terciario-alt-2); }

.seo__definition {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
  grid-template-rows: repeat(12, 1fr);
  -webkit-column-gap: 1em;
  column-gap: 1em; }
  @media screen and (min-width: 800px) {
    .seo__definition {
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr); } }
  .seo__definition [class^="seo__definition--blk"] {
    background-image: -webkit-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    background-image: -o-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    background-image: linear-gradient(141deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1em;
    -ms-grid-column-span: 4;
    grid-column: span 4;
    -ms-grid-row-span: 4;
    grid-row: span 4; }
    @media screen and (min-width: 1200px) {
      .seo__definition [class^="seo__definition--blk"] {
        grid-column: .9 / span 3; } }
  .seo__definition--items {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: inherit;
    padding: inherit;
    background-color: var(--color-body-bg); }
    @media screen and (min-width: 800px) {
      .seo__definition--items {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }

/* End seo__definition */
/************** Section 3 -  Block three - HOME ****************/
.seo__home--block-3,
.web__home--block-2 {
  padding: 1rem;
  background-image: -webkit-linear-gradient(309deg, #19e098 75%, #86f5cc 51%, #9fb8ad 0%);
  background-image: -o-linear-gradient(309deg, #19e098 75%, #86f5cc 51%, #9fb8ad 0%);
  background-image: linear-gradient(141deg, #19e098 75%, #86f5cc 51%, #9fb8ad 0%); }

/************** Section 4 -  Block four - HOME ****************/
.seo__home--block-4 {
  padding: 1rem; }
  .seo__home--block-4 .seo__home--article-block-4 {
    padding-top: 2.5em;
    padding-bottom: 2.5em; }

/*********** Seo Home END*****************/
/*********** Web Home *****************/
.web__home--block-1 {
  padding: 1rem; }

/*********** Web Home END*****************/
/************** Section 2 -  Block two - SEO HOME ****************/
.seo__home {
  /* End block 2 */ }
  .seo__home__block-2--content {
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[12];
    grid-template-rows: repeat(12, 1fr);
    -webkit-column-gap: 1em;
    column-gap: 1em;
    /*@include rwd(xlarge) {
            & {
                grid-template-rows: 1fr;
                grid-template-columns: repeat(12, 1fr);
                
            }
        }*/ }
    @media screen and (min-width: 800px) {
      .seo__home__block-2--content {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr); } }
    .seo__home__block-2--content [class^="seo__home__block-2--col-"] {
      padding: 1rem;
      margin-top: 1em;
      -ms-grid-column-span: 6;
      grid-column: span 6;
      -ms-grid-row-span: 6;
      grid-row: span 6; }
      @media screen and (min-width: 1200px) {
        .seo__home__block-2--content [class^="seo__home__block-2--col-"] {
          -ms-grid-column-span: 6;
          grid-column: span 6; } }
    .seo__home__block-2--content .seo__home__block-2--items {
      height: 650px;
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
      -webkit-column-gap: 1em;
      column-gap: 1em; }
      .seo__home__block-2--content .seo__home__block-2--items:first-child {
        -ms-grid-row-span: 5;
        grid-row: span 5; }
      .seo__home__block-2--content .seo__home__block-2--items:last-child {
        -ms-grid-row-span: 3;
        grid-row: span 3; }
    .seo__home__block-2--content .seo__home__block-2--sub-title {
      -ms-grid-row-span: 2;
      grid-row: span 2; }
    .seo__home__block-2--content .seo__home__block-2--item-description {
      background-image: -webkit-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
      background-image: -o-linear-gradient(309deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
      background-image: linear-gradient(141deg, #9fb8ad 0%, #86f5cc 51%, #19e098 75%);
      border-radius: 5px;
      padding: 1rem;
      -ms-grid-row-span: 8;
      grid-row: span 8;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .seo__home__block-2--content .seo__home__block-2--item-txt {
      height: 100%;
      border-radius: inherit;
      padding: inherit;
      background-color: var(--color-body-bg); }

/* End SEO home block 2 */
[class*=icon-]::before {
  content: "";
  display: inline-block;
  margin-right: .15rem;
  width: 1em;
  height: 1em; }

/*
.icon-location::before {
    //background: url("../img/Diseño-web.jpg");
    background-color: #ffffff;
    
}
*/
.buttom-1 {
  margin-top: 1em;
  padding: .5rem 1rem;
  text-decoration: none;
  border: 1px solid var(--color-oscuro);
  border-radius: 5px;
  color: var(--color-body-bg);
  background-color: rgba(25, 28, 31, 0.5);
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s; }

.buttom-1:hover {
  background-color: #191c1f; }

.border__bottom {
  display: block;
  width: 35%;
  border-bottom: 2px solid var(--color-enfasis-alt-2); }
