/* VARIABLES */
$borderRadius: 5px;
$border: 1px solid var(--color-border);
$max-width: 1200px;
$header-height: 7rem;
$border-color: var(--color-border);
$min-width-main-navbar: 50vw;
$letter-spacing: 1px;
$padding-main-content: 1em;






// Paleta de colores 
:root {
    --color-principal: #FFB80C;
    --color-principal-alt: #F2A30C;
    --color-secundario: #FFE23F;
    --color-secundario-alt: #C6B031;
    --color-terciario: #f06850;
    --color-terciario-alt-1: #E5362D;
    --color-terciario-alt-2: #DB1F15;
    --color-enfasis: #ff8000;
    --color-enfasis-alt: #E07200;
    --color-enfasis-alt-secondary: #ff6811;
    --color-enfasis: #86f5cc; //#d0f8fc
    --color-enfasis-alt-2: #19e098; //#2cb5e8
    --color-oscuro: rgb(41, 25, 14);
    --color-oscuro-alt: #191C1F;
    --color-border: #DFE0BF;
    --color-texto: #382215;
    --color-body-bg: #F1F5CA;
}

// Paleta colores SASS
    $color-principal: #FFB80C;
    $color-principal-alt: #F2A30C;
    $color-secundario: #FFE23F;
    $color-secundario-alt: #C6B031;
    $color-terciario: #f06850;
    $color-terciario-alt-1: #E5362D;
    $color-terciario-alt-2: #DB1F15;
    $color-enfasis: #ff8000;
    $color-enfasis-alt: #E07200;
    $color-enfasis-2: #86f5cc;
    $color-enfasis-alt-2: #19e098;
    $color-oscuro: rgb(41, 25, 14);
    $color-oscuro-alt: #191C1F;
    $color-border: #DFE0BF;
    $color-texto: #382215;
    $color-body-bg: #F1F5CA;


// Variables de apilamiento (Z-Index)
:root{
    --z-back    : -10;
    --z-normal  : 1;
    --z-tootip  :10;
    --z-fixed   : 100;
    --z-modal   : 1000;
}

// Variables de fuentes
:root{
    --heading-font: 'Lato', sans-serif;
    //--heading-font: 'Open Sans', sans-serif;
    --body-font: 'Lato', sans-serif;
}


// Variables de tipografía
:root{
    --body-font-size: 1rem;
    --small-font-size: .75rem;
    --medium-font-size: 1.5rem;
    --large-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.1rem;
    //--h4-font-size: 0.75rem;
    

    @include rwd(medium){
        --h1-font-size: 2.5rem;
        --h2-font-size: 2.1rem;
        --h3-font-size: 1.7rem;
        --body-font-size: 1rem;
        --small-font-size: .8rem;
    }

    @include rwd(large){
        --h1-font-size: 2.7rem;
        --h2-font-size: 2.3rem;
        --h3-font-size: 2rem;
        --body-font-size: 1.2rem;
        --small-font-size: .9rem;
    }
}