/* ************* Banner contact styles *************** */
.banner__cto {
    //background-image: linear-gradient(141deg, rgba($color-secundario, .8), rgba($color-principal-alt, .6));
    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;

    &--box {
        $align-content: left;
        text-align: $align-content;
    
        & .title {
            font-size: 1.7em;
        }

        & .subtitle {
            font-size: 1.175em;
        }
    }

    &--image {
        align-self: center;
        width: 80%;
    }


    @include rwd(992px) {
        & {
            grid-template-columns: repeat(2, auto-fill);
        }

        &--box {
            width: 85%;
            $align-content: left;
            align-self: flex-start;
            grid-column: 1 / span 1;
        
            & .title {
                text-align: $align-content;
                font-size: 1.515em;
            }
    
            & .subtitle {
                text-align: $align-content;
                font-size: 1em;
            }
        }

        &--image {
            width: 100%;
            grid-column: 2 / span 1;
        }
    }

        
    @include rwd(xxlarge) {
        & {
            font-size: 1.4rem;
        }

    }
        
}