/* ************* Banner contact styles *************** */
.banner__cto {
    background-image: linear-gradient(141deg, rgba($color-secundario, .8), rgba($color-principal-alt, .6));
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
.banner__cto--box {
    $align-content: center;
    font-size: 3vw;
    text-align: $align-content;

    & .title {
        font-size: 2.3em;
    }

    & .subtitle {
        font-size: 1.3em;
    }

    @include rwd(medium) {
        & {
            font-size: 2vw;
        }

        & .subtitle {
            font-size: 1.2em;
        }
    }

    @include rwd(large) {
        & {
            font-size: 1.5vw;
        }

    }

    @include rwd(xxlarge) {
        & {
            font-size: 1vw;
        }
    }
}